@import "../../../styles/vars";

.blockTextThird {
	position: relative;

	&::after {
		background-image: url("/img/flowers.png");
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		height: 960px;
		max-width: 250px;
		position: absolute;
		top: -130px;
		width: 100%;
	}

	.blockText {
		background-color: $four-color;
		border-radius: 8px;
		border: 1px solid $four-color;
		margin-bottom: 30px;
		padding: 30px;

		&.variant {
			background-color: transparent;
		}

		&.blockIconEstrogen {
			position: relative;

			&::before {
				background-image: url("/img/estrogen-free.png");
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				height: 48px;
				left: -16px;
				position: absolute;
				top: -21px;
				width: 48px;
			}
		}

		&.blockIconUsa {
			position: relative;

			&::before {
				background-image: url("/img/usa.png");
				background-repeat: no-repeat;
				background-size: 100%;
				content: "";
				height: 48px;
				left: -16px;
				position: absolute;
				top: -10px;
				width: 48px;
			}
		}

		&.blockIconDrugFree {
			position: relative;

			&::before {
				background-image: url("/img/drug-free.png");
				background-repeat: no-repeat;
				background-size: 100%;
				content: "";
				height: 42px;
				left: -16px;
				position: absolute;
				top: -10px;
				width: 42px;
			}
		}

		&.blockIconArtificial {
			position: relative;

			&::before {
				background-image: url("/img/no-artificial-dyes.png");
				background-repeat: no-repeat;
				background-size: 100%;
				content: "";
				height: 44px;
				left: -16px;
				position: absolute;
				top: -10px;
				width: 34px;
			}
		}

		&.blockIconFreeShipping {
			position: relative;

			&::before {
				background-image: url("/img/free-shipping.png");
				background-repeat: no-repeat;
				background-size: 100%;
				content: "";
				height: 38px;
				left: -16px;
				position: absolute;
				top: -10px;
				width: 38px;
			}
		}

		&.blockIconScience {
			position: relative;

			&::before {
				background-image: url("/img/science-backed.png");
				background-repeat: no-repeat;
				background-size: 100%;
				content: "";
				height: 45px;
				left: -16px;
				position: absolute;
				top: -10px;
				width: 42px;
			}
		}
	}

	@media (max-width: 767px) {
		&::after {
			height: 404px;
			top: 26px;
		}

		.blockText {
			padding: 17px 12px;

			h5 {
				margin: 0;
			}

			&.blockIconEstrogen {
				&::before {
					width: 32px;
					height: 32px;
				}
			}

			&.blockIconUsa {
				&::before {
					width: 30px;
					height: 27px;
				}
			}

			&.blockIconDrugFree {
				&::before {
					width: 28px;
					height: 28px;
				}
			}

			&.blockIconArtificial {
				&::before {
					width: 22px;
					height: 29px;
				}
			}

			&.blockIconFreeShipping {
				&::before {
					width: 25px;
					height: 25px;
				}
			}

			&.blockIconScience {
				&::before {
					width: 28px;
					height: 30px;
				}
			}
		}
	}
}
