@import "../../../styles/vars";

.customerFavorites {
	overflow-x: scroll;
	overflow-y: hidden;

	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	.card {
		display: flex;
		justify-content: center;

		li {
			list-style: none;

			.item {
				height: 520px;
				width: 264px;
				transition: 0.5s;
				overflow-x: hidden;
				position: relative;

				img {
					object-position: 160px 0;
					filter: saturate(20%);
				}

				a {
					display: none;
				}

				.info {
					position: absolute;
					bottom: 25px;
					padding: 0 0 0 40px;
					width: 100%;

					.title {
						display: flex;
						justify-content: space-between;
						align-items: flex-end;
						padding: 0 0 20px 0;

						h2 {
							font-size: 24px;
							line-height: 32px;
							width: 346px;
							padding: 0 20px 0 0;
						}
					}

					.tags {
						width: 300px;
						display: flex;
						flex-wrap: wrap;

						h4 {
							background: $gold-color-card;
							border-radius: 50px;
							color: $white-color;
							height: 24px;
							margin-right: 10px;
							padding: 0 20px;
						}
					}
				}

				&:hover {
					width: 584px;
					transition: 0.5s;
					img {
						filter: none;
						object-position: 0 0;
					}

					a {
						display: inline-flex;
					}

					.info {
						.title {
							padding: 0 30px 20px 0;
						}
					}
				}
			}
		}

		@media (max-width: 767px) {
			display: inherit;
			padding: 0;
			margin-bottom: 30px;

			li {
				.item {
					width: 100%;
					height: auto;
					margin-bottom: 0;
					overflow-x: inherit;

					img {
						object-position: inherit;
						filter: inherit;
						width: 100%;
						height: auto;
					}

					a {
						display: initial;
						position: relative;
						top: 27px;
					}

					.info {
						padding: 0 0 0 12px;
						height: auto;
						bottom: 64px;

						.title {
							a {
								display: none;
							}
						}
					}

					&:hover {
						width: 100%;

						.info {
							.title {
								padding: 0 0 20px 0;
							}
						}
					}
				}
			}
		}
	}
}
