@import "../../../styles/vars";

.brands {
    background-color: $white-color;
    border-radius: 6px;
    height: 168px;
    width: 100%;
    max-width: 805px;
    margin: 0 auto !important;
    position: relative;
    z-index: 10000;


    @media(max-width: 767px) {
        margin-left: 0;
        height: 248px;
    }
}
