@import "../../../styles/vars";

.wavyPlantImage {
	@media (max-width: 767px) {
		img {
			position: relative;
			top: 51px;
		}
	}
}

.footer {
	background-color: $dark-color;

	.item {
		border-top: 1px solid;
		border-left: 1px solid;
		border-bottom: 1px solid;
		padding: 100px;

		h2 {
			margin-bottom: 20px;
		}

		ul {
			li {
				list-style: none;
				margin-bottom: 8px;
				a {
					text-decoration: none;
				}
			}
		}

		p {
			font-size: 10px;
			line-height: 14px;
			color: #ababab;
			padding: 0 60px 0 0;
		}
	}

	@media (min-width: 768px) and (max-width: 1000px) {
		.item {
			padding: 50px;
		}
	}

	@media (max-width: 767px) {
		.item {
			padding: 22px 30px 22px;

			ul {
				li {
					a {
						font-size: 16px;
					}
				}
			}

			p {
				padding: 0 0 0 0;
			}
		}
	}
}
