@import "../../../styles/vars";

.banner {
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100%;
	height: 688px;

	&.phenelogy-first {
		background-image: url("/img/hero-banner-1.png");
		position: relative;
	}

	&.phenelogy-two {
		background-image: url("/img/hero-banner-2.png");
	}

	&.phenelogy-third {
		background-image: url("/img/hero-banner-3.png");
	}

	&.phenelogy-four {
		background-image: url("/img/hero-banner-4.png");
	}

	&.phenelogy-five {
		background-image: url("/img/hero-banner-5.png");
	}

	&.phenelogy-six {
		background-image: url("/img/hero-banner-6.png");
	}

	p {
		padding: 0 25px 0 0;
	}

	@media (min-width: 991px) and (max-width: 1100px) {
		height: 350px;
	}

	@media (min-width: 768px) and (max-width: 990px) {
		height: 100%;

		h1 {
			font-size: 27px;
			line-height: 33px;
		}
	}

	@media (min-width: 550px) and (max-width: 650px) {
		&.phenelogy-first {
			height: 800px;
		}
	}

	@media (min-width: 651px) and (max-width: 767px) {
		&.phenelogy-first {
			height: 900px;
		}
	}

	@media (max-width: 767px) {
		align-items: flex-start;

		&.phenelogy-first {
			background-image: url("/img/hero-banner-1-mob.png");
			background-position: bottom;
		}

		&.phenelogy-two {
			background-image: url("/img/hero-banner-2-mob.png");
			height: 600px;
		}

		&.phenelogy-third {
			background-image: url("/img/hero-banner-3-mob.png");
			height: 600px;
		}

		&.phenelogy-four {
			background-image: url("/img/hero-banner-4-mob.png");
			height: 700px;
		}

		&.phenelogy-five {
			background-image: url("/img/hero-banner-5-mob.png");
		}

		&.phenelogy-six {
			background-image: url("/img/hero-banner-6-mob.png");
		}
	}
}
