@import "../../../styles/vars";

.banner {
	align-items: center;
	background-color: $primary-color;
	display: flex;
	height: 460px;
	position: relative;
	width: 100%;

	p {
		padding: 0 25px 0 0;
	}

	&::before {
		background-image: url("/img/image-hero.png");
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		height: 583px;
		max-width: 836px;
		position: absolute;
		right: 0;
		top: -27px;
		width: 100%;
	}

	@media (max-width: 767px) {
		align-items: flex-start;
		height: 525px;
		padding-top: 60px;

		&::before {
			background-image: url("/img/banner-mobile.png");
			bottom: 0;
			height: 362px;
			left: 0;
			margin: 0 auto;
			max-width: 308px;
			right: 0;
			top: 367px;
			width: 100%;
		}
	}
}
