@import "../../../styles/vars";

.contentBlockTextOne {
	align-items: center;
	background-color: $third-color;
	display: flex;
	height: 480px;

	.block {
		width: 100%;
		height: 343px;
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: center;

		h2 {
			padding: 0 70px;
		}

		&.background-second {
			background-color: $second-color;
		}

		&.background-green {
			background-color: $primary-color;
		}

		&.background-gold {
			background-color: $gold-color;
		}
	}

	.blockGroupImages {
		display: flex;
		margin-left: 40px;

		.blockImage {
			margin-right: 30px;
		}

		h4 {
			text-align: center;
		}
	}

	@media (max-width: 767px) {
		align-items: flex-end;
		height: 644px;
		padding-bottom: 62px;

		.block {
			height: 112px;
			margin-left: 0;

			h2 {
				padding: 0 18px;
			}
		}

		.blockGroupImages {
			flex-wrap: wrap;
			margin-left: 0;
			justify-content: center;

			.blockImage {
				margin: 0 20px 20px;

				svg {
					width: 64px;
					height: 64px;
				}
			}
		}
	}
}
