//Colors Website
$primary-color: #00552b;
$second-color: #4f0d31;
$third-color: #e7dacf;
$four-color: #e7decf;
$dark-color: #000000;
$black-color: #181817;
$white-color: #ffffff;
$gold-color: #c7a25c;
$gray-color: #ABABAB;
$background: #f7f3f0;

//Typography Domaine
@font-face {
	font-family: "Domaine Regular";
	src: url("./fonts/DomaineText-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Domaine Medium";
	src: url("./fonts/DomaineText-Medium.ttf") format("truetype");
}

// Typography Grotesque
@font-face {
	font-family: "Basis Grotesque Regular";
	src: url("fonts/basis-grotesque-regular-pro.ttf") format("truetype");
}

@font-face {
	font-family: "Basis Grotesque Medium";
	src: url("fonts/basis-grotesque-medium-pro.ttf") format("truetype");
}

@font-face {
	font-family: "Basis Grotesque Bold";
	src: url("fonts/basis-grotesque-black-pro.ttf") format("truetype");
}

//fonts
$font-domine-regular: "Domaine Regular";
$font-grotesque-regular: "Basis Grotesque Regular";
$font-grotesque-bold: "Basis Grotesque Bold";
